/* @import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300&display=swap'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Radio Canada', sans-serif; */
}
.header__logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.navbar{
    display: flex;
    background-color: #85C1E9;
    width: 100%;
    justify-content: space-between;
    align-items: center;
     position: sticky;
   top: 0;
   z-index: 100;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.nav__links > ul{
    display: flex;
    justify-content: space-between;
}
li{
    list-style: none;
   padding: 10px;
   color: white;
  
   cursor: pointer;
}
.btn-1{
   padding: 10 21px;
    background-color: #072743;
    color: #fff;
    border-radius: 5%;
    border: none;
    cursor: pointer;
    font-size: 15px;
}
.btn-2{
   padding: 10 21px;
    background-color: #F7DC6F;
    color: #F4F6F7;
    border-radius: 5%;
    border: none;
    cursor: pointer;
    font-size: 12px;
}
.btn-1:hover{
    background-color: #2E4053;
    color: #F7DC6F;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    border: none;
}
.btn-2:hover{
      background-color: white;
    color: black;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    border: none;
}

/* Background section */
.background{
    width: 100%;
    height: 100%;
    background-image: url('/images/climate-background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.climate-change__protest{
    height: 80%;
    width: 50%;
    border-radius: 2%;
    border: none;
}
.heading__text-1{
    font-weight: 80;
    font-size: 40;
    color: white;
    line-height: 1em;
}
.heading__text-2{
    font-weight: 50;
    font-size: 30;
    color: white;
    padding-top: 10px;
    line-height: 1em;
}
.heading__text-3{
     font-weight: 50;
    font-size: 30;
    color: white;
    padding-top: 10px;
    padding-bottom: 30px;
    line-height: 1em;
}
.btn-3{
     padding: 10 21px;
    background-color: #F7DC6F;
    color: #17202A;
    border-radius: 5%;
    border: none;
    cursor: pointer;
    font-size: 12;
    font-weight: bold;
}
.background__text{
    margin-top: 30px;
}
/* Sub-heading */
.desc__text{
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    font-size: 30;
    text-transform: uppercase;
}
